.App {
  width:50%;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top:50px
}
form{
  width: 84.5%;
}
form > .search_box{
  border-color: #c4c1c1;
  border-radius:5px;
  text-transform: capitalize;
  width:100%;
  height:50px;
  padding: 0px 50px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
._flex{
  display:flex;
  width: 100%;
  position: relative;
}
.Location_img{
  width:20px;
  position: absolute;
  top:15px;
  left:20px;
}
.Search_img{
  width:20px;
  position: absolute;
  top:16px;
  right:20px;
}
.forecast{
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 2%;
}
._iforecast{
  display: inline-block; 
  width:110px;
  text-align: center;
}
._iforecast:hover{
  border: 2px solid #B8E0FE;
  cursor: pointer;
}
.Weather_info{
  width:40%;
  height:40%;
}
.weekdays{
  width:40%;
  height:20px;
  color: #2a2c2e;
  font-family: sans-serif;
  font-weight: bold;
}
.span{
  display: inline-block;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
  color:#2a2c2e;
  color: #2a2c2e;
  position: relative;
  top:-14px;
  padding-right: -4%;
}
.mintemp{
  color: gray;
  padding-left: 5%;
}
.Weather_image{
width:100%;
height:59%;
}
.image{
  height:35%;
  width:30%;
}
.Weather_status{
  font-family: sans-serif;
  font-weight: 600;
  color:#959596;
}
.app{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 98%;
}
.GraphDiv{
  margin-top: 10px;
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
}
.row{
width:100%;
}
.TempInfo{
  margin-left: 4%;
}
.TempInfo > h1{
  font-family: sans-serif;
  font-size: 50px;
}
.img-cloudy{
  width: 8%;
  margin-left: 15px;
}
.LowerGraph1{
padding-left: 5%;
margin-top: 20px;
}
.TempDetails{
  width: 65%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.TempDetails > div{
  /* border: 1px solid blue; */
  background-color: #F3FBFF;
  color: #2C3E50;
  width: 40%;
  font-weight: 600;
  font-family: sans-serif;
  padding: 0px 15px;
}
.TempDetails1{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.TempDetails1 > div{
  color: #2C3E50;
  font-weight: 600;
  font-family: sans-serif;
}
.setsetTime{
  font-weight: 400;
  margin-top: -12px;
}
.add{
 text-align: center;
}